:root {
  --page-bg: hsl(0, 0%, 90%);
  --cnt-bg: hsl(0, 0%, 95%);

  --btn-border: hsl(0, 0%, 60%);
  --btn-bg: hsl(0, 0%, 85%);
  --btn: hsl(0, 0%, 20%);

  --time: hsl(0, 0%, 0);
  --range: hsl(0, 0%, 77%);

  --step: hsl(0, 0%, 20%);
}
