@use "colour";
@use "fonts";
@use "buttons";

:root {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
}
html {
  background-color: var(--page-bg);
}

#rendering {
  width: 600px;
  margin: 18px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  p {
    @extend .roboto-light;
    flex: 1 0 auto;
  }
}
.btn-holder {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 72px;
  margin-top: 16px;

  .btn-name {
    @extend .roboto-thin;
    font-size: 10pt;
    width: 100%;
    text-align: center;
  }
}

.steps-grid {
  margin: 4pt auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  @extend .roboto-light;
  font-size: 10pt;
  width: 80ch;
}
.step-row {
  $rowPadding: 4px;
  background-color: var(--cnt-bg);
  border-radius: 99px;
  padding: $rowPadding $rowPadding * 2;
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
  font-weight: 300;
  &.head {
    font-weight: 500;
  }
  div:last-child {
    text-align: end;
  }
  &:last-child {
    font-weight: 500;
  }
}

canvas {
  border: 1px solid black;
  display: block;
  background-color: white;
  outline: 10px solid white;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}
